h2{
    color: white;
}

.container{
    width: 100%;
}

.jumbotron-fluid{
    background: rgba(0,0,0,0.4);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    backdrop-filter: saturate(200%) blur(8px);
    padding: 10px;
    margin-bottom: 10px;
    color: white;
}

.containerBlur{
    background: rgba(0,0,0,0.4);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    backdrop-filter: saturate(200%) blur(8px);
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 20px;
}

.mainCards{
    overflow-y: scroll;
}

.cardContainer{
    overflow-x: scroll;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    height: 10px;
    width: 5px;
    background: #fff3;
    -webkit-border-radius: 1ex;
  }
  
  ::-webkit-scrollbar-thumb {
    background: white;
    -webkit-border-radius: 1ex;
  }
  
  ::-webkit-scrollbar-corner {
    background: #fff3;
  }

  .saveModal{
    width:400px;
    height: 300px;
    position: fixed;
    z-index: 1;
    left:50%;
    top:50%;
    margin-left:-200px;
    margin-top:-150px;
    color: white;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .closeButton{
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0)!important;
    border-color: rgba(0, 0, 0, 0)!important;
  }

  .saveModal button{
    background-color: #00A6A6;
    color: white;
    border-color: #00A6A6;
    border-radius: 0 5px 5px 0;
  }

  .saveModal button:hover{
    background-color: #00A6A6;
    border-color: #00A6A6;
  }

  .refreshButton{
    position: absolute;
    z-index: 1;
    background-color: #00A6A6;
    color: white;
    border-color: #00A6A6;
    border-style: none;
    border-radius: 0 5px 5px 0;
  }