h2 {
    font-size: 1.3rem;
}

h3 {
    font-size: 1em;
}

.card-img-top{
    width: 100%;
    object-fit: cover;
}

.ratingContainer{
    display: flex;
    justify-content: space-around;
}

.ratingContainer img{
    width: 10%;
}

.awardImg{
    width: 30px;
    height: 30px;
}

.cardinfo{
    color: #00A6A6;
    text-align: center;
}

.infoContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 10px;
}

.infoContainer .mapArea{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 200px;
    width: 90%;
    background-color: #00A6A6;
    color: white;
    justify-self: center;
}

.buttonGroup{
    display: flex;
    justify-content: space-between;
}

.infoContainer button{
    height: 40px;
    width: 120px;
    margin: 0.2rem;
    background-color: #00A6A6;
    background-size: cover;
    border: none;
    border-radius: 10px;
    color: white;
    text-decoration: none;
}

.infoContainer a{
    height: 40px;
    width: 120px;
    margin: 0.2rem;
    background-color: rgb(0, 166, 166);
    border-radius: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
}