
/* .banner-image{
   
} */

.banner{
    height: 10vh;
    width: 100vw;
    background-color:

}

.image-container{
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: -1rem;
};